body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

a,
a:hover {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(90deg, #fa705e, #dd254f);
    border-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: 600;
}
.btn-secondary {
    color: #fff;
    background: linear-gradient(90deg, #8567da, #513db8);
    border-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: 600;
}
.btn-default {
    color: #687997;
    border-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: 600;
}
.btn-danger {
    color: #d74b4b;
    background: none;
    border-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: 600;
}

#wrapper {
    display: block;
    width: 100%;
}


.top-bar {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #e2e9ef;
    padding: 10px 0;
}

.logo-div {
    width: 250px;
    display: flex;
    align-items: center;
}

.btn-nav,
.btn-nav:focus,
.btn-nav:active {
    display: block;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #aa91ec;
    font-size: 20px;
    margin-left: 1em;
}

.btn-nav:hover {
    color: #503eb8;
}

.logo-div img {
    max-width: 100px;
    height: auto;
    display: block;
    margin-left: 0.8em;
}


.topbar-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.redeem-tb {
    display: flex;
    align-items: center;
}

.redeem-tb h3 {
    font-size: 1.4em;
    font-weight: 600;
    color: #354d81;
    margin: 0;
}
.redeem-tb h3 span {
    color: #12213d;
}

.cityDrop {
    display: flex;
    align-items: center;
}

#dropCity,
#dropCity:focus,
#dropCity:active {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #aa91ec;
    font-size: 16px;
}
#dropCity span {
    font-size: 18px;
    color: #032161;
    font-weight: 600;
    padding-right: 0.5em;
}

.topSelect {
    display: flex;
    margin: 0 2em;
}

.topSelect select {
    margin: 0 0.5em;
    min-width: 100px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    font-size: 1em;
    font-weight: 600;
    color: #032161;
    padding: 0.2em 1em;
}

.avatar-img {
    display: flex;
    align-items: center;
    padding-right: 2em;
}
.avatar-img span {
    font-size: 1em;
    font-weight: 400;
    color: #606a7d;
}

.avatar-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1em;
}


#pcontent {
    width: 100%;
    display: flex;
    padding: 2em 0;
}

#sidebar {
    width: 250px;
    padding: 0 2em;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    padding: 0 1em;
    text-align: center;
}
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}
#sidebar ul {
    display: flex;
    flex-direction: column;
}
#sidebar.active ul {
    align-items: center;
}
#sidebar ul li {
    display: flex;
}
#sidebar ul li a {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    padding: 1em 0.2em;
    color: #503eb8;
    opacity: 0.5;
}
#sidebar ul li a.active {
    opacity: 1;
}
#sidebar ul li a i {
    margin-right: 1em;
}
#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}
#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.content-body {
    flex: 1;
    padding: 0 2em;
    max-width: calc(100% - 80px);
}


.card-purple {
    background: linear-gradient(90deg, #8568da, #513eb8);
    padding: 2em 1em; 
}
.card-white {
    background: #ffffff;
    padding: 2em 1em; 
}

.card-body {
    background: #fff;
}

.card-profit h2 {
    font-size: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
}
.card-category .card-heading {
    display: flex;
}
.card-category .card-heading i {
    width: 50px;
    height: 50px;
    color: #8567da;
    background: rgba(135, 105, 219, 0.1);
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 1.6em;
    margin-right: 1em;
}
.card-category .card-heading h2 {
    font-size: 1.6em;
    color: #032161;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
}
.card-comments .card-heading {
    display: flex;
}
.card-comments.card-header {
    padding: 1.4em 1.4em;
}
.card-comments .card-heading i {
    width: 30px;
    height: 30px;
    color: #513eb8;
    background: #ffffff;
    border: 1px solid #e2e9ef;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    font-size: 0.8em;
    margin-right: 1em;
}
.card-comments .card-heading p {
    font-size: 1em;
    color: #12213d;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
}
.card-comments .card-heading {
    flex: 1;
    display: flex;
    align-items: center;
}

.card-comments textarea {
    font-size: 1em;
    color: #032161;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0 0 0 0.5em;
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    height: 20px;
    line-height: 20px;
    flex: 1;
}
.card-profit h2 i {
    color: #fff;
    font-size: 0.7em;
    margin-right: 0.8em;
}
.card-profit h2 i.fa-caret-up {
    color: #4bd759;
}
.card-profit h2 i.fa-caret-down {
    color: #d74b4b;
}
.card-profit h2.i-pink i {
    color: #febcae;
}

.card-profit p {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.card-profit .row .col:nth-child(2) h2 {
    justify-content: flex-end;
}
.card-profit .row .col:nth-child(2) p {
    text-align: right;
}

.card-category .col-sm-12 {
    display: flex;
}
.card-right-text {
    display: flex;
    width: 100%;
    align-items: center;
}
.card-r-t-b {
    flex: 1;
}
.card-r-t-b h3 {
    font-size: 1.6em;
    font-weight: 600;
    color: #513eb8;
    margin: 0;
    padding: 0;
    text-align: right;
}
.card-r-t-b p {
    font-size: 1em;
    font-weight: 400;
    color: #687997;
    margin: 0;
    padding: 0;
    text-align: right;
}
.card-r-t-a {
    display: flex;
    align-items: center;
    margin-left: 1em;
}
.card-r-t-a a {
    color: #aa91ec;
    font-size: 1.2em;
}
.card-r-tb-a {
    display: flex;
    align-items: center;
    margin-left: 1em;
}
.card-r-tb-b a,
.card-r-tb-a a {
    padding: 0.6em 1.8em;
}

.content-group {
    display: flex;
    width: 100%;
    padding-bottom: 2em;
}

.content-group ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-group li {
    margin: 0.8em 0 0 0;
    border-bottom: 1px solid #e2e9ef;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8em;
}

.content-group li .put-l {
    font-weight: 600;
    color: #032161;
    padding: 0.4em 1em;
}

.content-group li .put-r {
    font-weight: 400;
    color: #12213d;
    padding: 0.4em 1em;
}
.content-group li .put-r i {
    font-weight: 400;
    font-style: normal;
    color: #687997;
    margin-left: 0.3em;
}

.content-group li .put-r.profit-bg {
    background-color: rgba(75, 215, 89,0.2);
}

.content-group li .put-r .profit-text {
    font-weight: 700;
    color: #4bd759;
}

.table th, .table td {
    padding: 1.2em 1em;
}

.table thead th {
    font-weight: 600;
    text-align: right;
    color: #687997;
    background-color: #edf1f5;
    border-top: none;
    border-bottom: 1px solid #e2e9ef;
}
.table thead th.t-white-bg {
    background-color: #ffffff;
}
.table tbody th {
    font-weight: 700;
    color: #032161;
    text-align: right;
}

.table tbody td {
    color: #032161;
    font-weight: 400;
    text-align: right;
    background-color: #f7f9fb;
}

.table tbody td.t-white-bg {
    background-color: #ffffff;
}

.table-lgt {
    border: 1px solid #e2e9ef;
}
.table-lgt thead th {
    background-color: #ffffff;
    color: #a4afc7;
    text-align: right;
}
.table-lgt tbody th {
    background-color: #ffffff;
    color: #032161;
    text-align: right;
}
.table-lgt tbody td {
    background-color: #ffffff;
    color: #354d81;
    font-weight: 400;
    text-align: right;
}
.table-lgt tfoot {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.table-lgt tfoot td {
    background-color: #ffffff;
    color: #354d81;
    text-align: right;
    font-weight: 700;
    border-top: none;
}


.tbnv {
    border-bottom: 1px solid #e2e9ef;
}

.tbnv > div {
    padding: 0;
    display: flex;
}
.tbnv > div:first-child {
    margin-top: 15px;
}

.tabnav {
    display: flex;
}

.tabnav ul {
    display: flex;
    list-style: none;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.tabnav ul li {
    margin: 0;
    padding: 0 1em 0 0;
    display: flex;
}

.tabnav ul li a {
    font-size: 1em;
    font-weight: 600;
    color: #a4afc7;
    padding: 1em 1em;
}

.tabnav ul li a.active {
    color: #503eb8;
    border-bottom: 3px solid #503eb8
}

.breadcrum a {
    color: #8568da;
}
.breadcrum i {
    font-size: 0.8em;
    margin: 0 0.5em;
    opacity: 0.5;
}

.profile-card,
.profile-card .card-body {
    background-color: #edf1f5;
}

.profile-card .card-header {
    border: none;
    background-color: #edf1f5;
}
.profile-card .card-header h3 {
    font-size: 1.6em;
    color: #8568da;
    font-weight: 400;
    margin: 0;
}

.profile-card .card-body {
    padding: 1em;
}
.profileinfo {
    background-color: #ffffff;
    border-radius: 4px;
    color: #606a7d;
    font-weight: 400;
    width: 94%;
    margin: 0 0 1em 0;
    padding: 1em 0.5em;
}
.profile-card label {
    color: #687997;
}
.profile-card label.custom-control-label {
    color: #032161;
    font-weight: 600;
    line-height: 2;
}

.profile-card .contactinfo {
    padding: 0 1em;
}

.profile-card .contactinfo p {
    font-size: 0.9em;
    color: #606a7d;
    font-weight: 400;
    margin: 0;
}
.profile-card .contactinfo h5 {
    font-size: 0.9em;
    color: #032161;
    font-weight: 600;
    margin: 0.1em 0 1em 0;
}

.redeem-data p {
    font-size: 1em;
    color: #606a7d;
    font-weight: 400;
    margin: 0;
}
.redeem-data h4 {
    font-size: 1em;
    color: #12213d;
    font-weight: 600;
    margin: 0.1em 0 1em 0;
}
.redeem-data a {
    color: #fa705e
}


.hiddenselect {
    width: 100%;
    display: flex;
}

.hiddenselect label {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em 1.4em;
    border-radius: 6px;
}

.hiddenselect label {
    background: linear-gradient(90deg, #edf1f5, #edf1f5);
}
.hiddenselect label.lblfile {
    background: linear-gradient(90deg, #d74b4b, #dd254f);
}

.hiddenselect label h3 {
    color: #8568da;
    font-size: 1.4em;
    margin-bottom: 5em;
}
.hiddenselect label i {
    color: #8568da;
    font-size: 2em;
}
.hiddenselect label.lblfile h3,
.hiddenselect label.lblfile i {
    color: #ffffff;
}

.hiddenselect input {
    display: none;
}

.table-td-white {
    border: 1px solid #edf1f5;
}
.table-td-white tbody td {
    background-color: #ffffff;
    color: #032161;
    font-weight: 400;
}

.table-td-white tbody td a {
    color: #8568da;
}

.drepot a {
    font-size: 1em;
    font-weight: 600;
}

.drepot a i {
    color: #503eb8;
    font-size: 1.2em;
}

.profitpcontent {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.profitpcontent i {
    font-size: 1.6em;
    color: #4bd759;
    margin-right: 0.5em;
}
.profitpcontent b {
    font-size: 1.8em;
    font-weight: 700;
    color: #12213d;
}
.profitpcontent span {
    font-size: 0.9em;
    color: #687997;
    line-height: 1.2;
    margin-left: 0.5em;
}

.drepot-center {
    display: flex;
    align-items: center;
}

.amount-danger {
    color: #dd254f;
    background-color: #ffd4de;
    display: block;
    border-radius: 2em;
    text-align: center;
    padding: 0.4em 0.5em;
    font-weight: 700;
}

.gototable {
    color: #8568da;
    font-size: 1.2em;
    padding: 5px 10px;
}

.pg-heading {
    display: block;
    margin: 2em 0 2em 0;
}

.pg-heading h3 {
    font-size: 1.6em;
    font-weight: 600;
    color: #12213d;
}

.avatar-icon {
    display: flex;
    position: relative;
}

.avatar-icon::before {
    content: "";
    width: 1px;
    height: 100%;
    background: #e2e9ef;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.avatar-icon h3 {
    font-size: 1.4em;
    font-weight: 700;
    color: #ffffff;
    border-radius: 50%;
    background-color: #dd254f;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.note-text {
    width: 100%;
    margin: 1em 0 2em 0;
}

.note-text h3 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #12213d;
}

.note-text h3 span {
    font-weight: 400;
    margin-left: 0.8em;
    color: #687997;
}

.note-text p {
    font-size: 1em;
    color: #12213d;
    margin: 1em 0 1em 0;
}

.note-text a.morecomm {
    color: #503eb8;
}
.note-text a.morecomm i {
    margin-right: 0.8em;
    font-size: 0.8em;
}

.note-actions {
    display: flex;
    align-items: center;
}

.note-actions a {
    font-size: 1.2em;
    padding: 0.2em 1em;
}

.note-actions a.action-edit {
    color: #febe65;
}
.note-actions a.action-delete {
    color: #eb1c1c;
}

.md-heading-lead {
    display: block;
}
.md-heading-lead h3 {
    color: #687997;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em 0 0.5em 1em;
}

h5.modal-title {
    font-size: 1.2em;
    font-weight: 400;
    color: #687997;
}

h5.modal-title span {
    font-weight: 600;
    color: #12213d;
}

.lead-details-u .redeem-data p {
    font-size: 0.9em;
    font-weight: 400;
}
.lead-details-u .redeem-data h4 {
    font-size: 0.9em;
    margin: 0.1em 0 1.2em 0;
    line-height: 1.6;
    font-weight: 400;
}

.modal-backdrop {
    background-color: #12213d;
}
.modal-backdrop.show {
    opacity: 0.8;
}


.vetting-docs {
    display: flex;
    flex-wrap: wrap;
}
.vetting-doc {
    display: flex;
    flex: 18% 0 1;
    border-radius: 6px;
    min-height: 100px;
    margin: 1% 1%;
}
.vetting-doc .vetting-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.5em;
}

.vetting-doc .vetting-text p {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
}

.vetting-doc .vetting-text a {
    color: #ffffff;
    font-weight: 600;
    background: #8567da;
    padding: 0.2em 1em;
    font-size: 0.9em;
    border-radius: 2em;
}

